<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/script.js"></script>
<form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="search" placeholder="Ищите фильмы тут"  name="filmName" id="search">
  <input class="form-control" id="age" type="text" placeholder="Возраст">
  <button class="btn btn-outline-success my-2 my-sm-0" type="button" id="buttonSearch">Искать</button>
</form>
<div class="container">
  <div id="main">

  </div>
</div>