<form action="/find" method="POST">
  <h2>Найти фильм</h2>

  <div class="input-field">
    <input type="text" name="title">
    <label></label>
  </div>

  <button type="submit" class="btn">Найти</button>
</form>