      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="/finder.js"> </script>
      <div id="container">
        <div id="header">
          <input class="form-control mr-sm-2" id="search" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" id="buttonSearch" type="button">Search</button>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Жанр</label>
            <select class="form-control" id="genre">
              <option>аниме</option>
              <option>биография</option>
              <option>боевик</option>
              <option>вестерн</option>
              <option>военный</option>
              <option>детектив</option>
              <option>детектив</option>
              <option>детский</option>
              <option>для взрослых</option>
              <option>документальный</option>
              <option>драма</option>
              <option>игра</option>
              <option>история</option>
              <option>комедия</option>
              <option>концерт</option>
              <option>короткометражка</option>
              <option>криминал</option>
              <option>мелодрама</option>
              <option>музыка</option>
              <option>мультфильм</option>
              <option>мюзикл</option>
              <option>новости</option>
              <option>приключения</option>
              <option>реальное ТВ</option>
              <option>семейный</option>
              <option>спорт</option>
              <option>ток-шоу</option>
              <option>триллер</option>
              <option>ужасы</option>
              <option>фантастика</option>
              <option>фильм-нуар</option>
              <option>фэнтези</option>
              <option>церемония</option>
            </select>
          </div>
        </div>
        <div id="content">

        </div>
        <footer class="footer" style="flex: 0 0 auto;">
          Здесь футер
        </footer>
      </div>