      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <div id="container">
        <form action="/res" method="POST">
          <div class="form-group">
            <label for="genre">Жанр</label>
            <select class="form-control" name="genre">
              <option>аниме</option>
              <option>биография</option>
              <option>боевик</option>
              <option>вестерн</option>
              <option>военный</option>
              <option>детектив</option>
              <option>детский</option>
              <option>для взрослых</option>
              <option>документальный</option>
              <option>драма</option>
              <option>игра</option>
              <option>история</option>
              <option>комедия</option>
              <option>концерт</option>
              <option>короткометражка</option>
              <option>криминал</option>
              <option>мелодрама</option>
              <option>музыка</option>
              <option>мультфильм</option>
              <option>мюзикл</option>
              <option>новости</option>
              <option>приключения</option>
              <option>реальное ТВ</option>
              <option>семейный</option>
              <option>спорт</option>
              <option>ток-шоу</option>
              <option>триллер</option>
              <option>ужасы</option>
              <option>фантастика</option>
              <option>фильм-нуар</option>
              <option>фэнтези</option>
              <option>церемония</option>
            </select>
          </div>
          <div class="form-group">
            <label for="rfrom">Минимальный рейтинг</label>
            <select class="form-control" name="rfrom">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
            </select>
          </div>
          <div class="form-group">
            <label for="tro">Максимальный рейтинг</label>
            <select class="form-control" name="rto">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
            </select>
          </div>
          <input class="form-control" name="yfrom" type="text" placeholder="Минимальный год">
          <br>
          <input class="form-control" name="yto" type="text" placeholder="Максимальный год">
          <br>
          <button class="btn btn-outline-success my-2 my-sm-0" id="buttonSearch" type="submit">Найти</button>
        </form>
      </div>